@font-face {
  font-family: 'Acknowledgement', sans-serif;
  src: url('https://fonts.cdnfonts.com/css/acknowledgement');
}

@font-face {
    font-family: 'Bhlingglers', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/bhlingglers');
}

@font-face {
    font-family: 'Nabla', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/nabla');
}

@font-face {
    font-family: 'Red Hat Mono', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/red-hat-mono');
}

.right-pane {
  display: block;
  flex: 0.3;
  padding: 20px;
  overflow-y: auto;
}

.image-detail{
    margin-top: 40px;
    width: 269.844px;
    height: 400.09px;
    object-fit: cover; /* o 'contain' */
    object-position: center;
}

.image-detail::-webkit-scrollbar { /* desabilitar la visibilidad del scroll */
    display: none; /* Para Chrome, Safari y Opera */
}


.below-image {
    font-size: 220%;
    height: 27px;
}

img {
  border-radius: 10%;
}

.container {
    display: grid;
    column-gap: 10px;
    width: 140%;
    height: 55.6em;
    grid-template-columns: 320px 400px 350px 300px;
    overflow: hidden;
}

.title-column {
    padding-top: 0px;
}


.title {
    color: white;
    font-family: 'Acknowledgement', sans-serif;
    font-size: 2.5em;
    margin-top: 35px;
    padding-top: 25px;
    width: 7000px;
}

.type {
    color: white;
    font-family: 'Acknowledgement', sans-serif;
    margin-top: 35px;   
    font-size: 2.5em; 
    height: 18px;
    text-align: center;
}

.category {
    color:blanchedalmond;
    margin-top: 10px;
}

.description {
    color: rgba(255, 255, 255);
    padding-top: 20px;
    font-family: 'Bhlingglers', sans-serif;
    font-size: 96%;
    height: 456px;
}

.below-description {
    font-size: 220%;
}

.clasificacion {
    font-family: 'Nabla', sans-serif;
    padding-left: 240px;
    margin-bottom: min(10px, 0px);
    margin-top: min(24px, 18px);
}

.user-icon {
    height: 15px;
    width: 15px;
}

.user-number {
    padding-left: 20px;
    font-family: 'Red Hat Mono', sans-serif;
    color: lightgray;
    font-size: 15px;
}

.date {
    color: rgba(255, 255, 255, 0.897);
    font-family: 'Bhlingglers', sans-serif;
    padding-left: 190px;
    font-size: 1.9rem;
    margin-top: 0px;
    margin-bottom: 10px;;
}

.state {
    position: relative;
    color: rgba(255, 255, 255, 0.897);
    font-family: 'Bhlingglers', sans-serif;
    padding-left: 190px;
    padding-bottom: 2px;
    font-size: 1.9rem;
    margin-top: 15px;
    margin-bottom: 0px;
}

.btn-div {
    padding-left: 190px;
}

.btn-img {
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
}

.btn-img:hover {
    opacity: 0.5;
}

body {
    background-image: url('/src/Views/Entertainment/image/details-background.png');
    background-repeat: no-repeat;
}


