body{
    background-color: rgb(28, 28, 29);
    margin: 0px;
    padding-top: 3em;
}
body::-webkit-scrollbar { /* desabilitar la visibilidad del scroll */
    display: none; /* Para Chrome, Safari y Opera */
}

.seccion{
    margin: 2em;
    margin-top: 60px;
}

.content{
    display: flex;
    gap: 10px; 
    overflow-x: auto; /* es para el scroll horizontal */
    overflow-y: hidden;    /* Bloquea scroll vertical */
    padding: 10px;
}

.content::-webkit-scrollbar { /* desabilitar la visibilidad del scroll */
    display: none; /* Para Chrome, Safari y Opera */
}

.movies-title {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 24px;
}

.img-content{
    height: 17em;
    width: 11em;
}

.img-content:hover {
    transform: scale(1.15);
}

.img_movie{
    width: 10em;
    height: 10em;
}

@media (max-width: 768px) { /* maximo de 768px pantallas chicas */
    .text-nav {
        display: none; 
    }

    .MenuHambur{
        display: flex;
    }
}

/* configuraciones del detail */

/* Contenedor principal con margen superior */
.split-screen { /* usamos ayudita gpt... */
  display: flex;
  height: calc(100vh - 60px); /* Resta la altura del nav */
  width: 100%;
}

/* Paneles */
.left-pane {
  flex: 0.7; /* 70% */
  padding: 20px;
  overflow-y: auto; /* para contenido desplazable */
}

.right-pane {
  flex: 0.3;
  padding: 20px;
  overflow-y: auto;
}

.image-detail{
    margin-top: 50px;
    width: 269.844px;
    height: 400.09px;
    /*height: 50%;*/
    object-fit: cover; /* o 'contain' */
    object-position: center;
}

.image-detail::-webkit-scrollbar { /* desabilitar la visibilidad del scroll */
    display: none; /* Para Chrome, Safari y Opera */
}