
.simple-footer {
    background: #222;
    color: white;
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    text-align: center;
    height: auto;
    width: 120em;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #aaa;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.footer-links a:hover {
    color: white;
}